html,
body {
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "Um Um Tres Tres Seis" "Um Um Tres Tres Seis" "Um Um Quatro Quatro Seis" "Dois Dois Quatro Quatro Seis" "Dois Dois Cinco Cinco Seis" "Dois Dois Cinco Cinco Seis";
}

.Um {
    grid-area: Um;
    background-color: aquamarine;
}

.Dois {
    grid-area: Dois;
    background-color: aquamarine;
}

.Tres {
    grid-area: Tres;
    background-color: aquamarine;
}

.Quatro {
    grid-area: Quatro;
    background-color: aquamarine;
}

.Cinco {
    grid-area: Cinco;
    background-color: aquamarine;
}

.Seis {
    grid-area: Seis;
}

.Nome_Invertido {
    /* rotacionar um texto= */
    transform: rotate(90deg);
    margin-top: 100%;
    margin-right: 10%;
}

hr {
    width: 530%;
    height: 5px;
    background-color: black;
}

.navegacao {
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    margin-left: 20px;
    color: black;
}

a span {
    margin-left: 5px;
}