.container {
    height: 915px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 0.6fr;
    grid-template-rows: 0.2fr 1fr 0.4fr 0.15fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Um Um Um Um Um" "Dois Dois Quatro Quatro Cinco" "Tres Tres Quatro Quatro Cinco" "Seis Seis Seis Seis Seis";
}

.Um {
    grid-area: Um;
}

.Dois {
    grid-area: Dois;
}

.Tres {
    grid-area: Tres;
}

.Quatro {
    grid-area: Quatro;
    background-color: rgb(26, 190, 240);
}

.Cinco {
    grid-area: Cinco;
}

.Seis {
    grid-area: Seis;
}

h1 {
    text-align: right;
}

hr {
    height: 5px;
    background-color: black;
}

.navegacao {
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    margin-left: 20px;
    color: black;
}

a span {
    margin-left: 5px;
}